@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
   <h1>Andrew Jarvis</h1>
    <div id="about-me">
        <h4>
            About Me
        </h4>
        <p>
            I'm currently a senior at the University of Rochester with a major in
            Computer Science and minors in Philosophy and Brain & Cognitive Science.
        </p>
        <p>
            In my free time, I like to do things like the sorts of things people like to do.
        </p>
        <p>
            On a more serious note, I'm an occasional baker. Mostly I make cookies (chocolate chip and oatmeal raisin), muffins (usually apple cinnamon), and sometimes brownies.
        </p>
        <p>
            Sometimes I play video games, though I'm usually too busy these days. I usually like RPG games (pretty basic, but I like Skyrim and those sorts).
            I also like Civilization, but haven't really gotten into Civ 6 yet (not used to Raging Barbarians being the default). Pre-pandemic, I played
            Smash Bros. with friends, but that doesn't work out as well these days.
        </p>
        <p>
            I spend too much time with Netflix on (usually as background noise). My favorite show at the moment is Lucifer, and I would recommend.
        </p>
        <p>
            In the future, I'd like to figure out what I'm going to do with this thing we call life. Broad interests are software development,
            but also games or artificial intelligence areas. I might also want to teach someday, but that's probably at least a few years away.
        </p>
        <p>
            This place is still under construction, might fill it with things at some point: art? projects? who knows?
        </p>
    </div>
</div>
